.main{
    width: 1336px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.text-div{
    width: 760px;
    margin: 0 auto;
    text-align: center;
}
.head1{
    font-size: 16px;
    color: #282828;
    font-family: 'Inter', sans-serif;
}
.head2{
    font-size: 54px;
    color: #282828;
    font-family: 'Inter', sans-serif;
    margin-top: 4px;
}
.p1{
    font-size: 20px;
    color: #5F6980;
    font-family: 'Inter', sans-serif;
    margin-top: 16px;
}
.team-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 908px;
    margin: 48px 52px;
}
.team-member{
    width: 310px;
    height: 430px;
    border: 1px solid #EAECF0 ;
}
.team-block{
    width: 310px;
    height: 168px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.team-member-info{
    width: 278px;
    height: 108px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 24px;
}
.name{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #282828;
    font-weight: 600;
}
.position{
    color: #3E3E59;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-top: 4px;
}
.p2{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #5F6980;
    margin-top: 8px;
}
.social-icons{
    width: 278px;
    height: 36px;
    margin-left: 16px;
    margin-top: 24px;
}
.icon{
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color: #F2F4F7;
    margin-right: 16px;
}
.footer-main{
    width: 1306px;
    height: 223px;
    background: #53535354;
    display: flex;
    justify-content: center;
    margin-top: 108px;
}
.box1{
    width: 318px;
    height: 221px;
    margin-right: 144px;
}
.logo1{
    width: 100px;
    height: 64px;
    margin-right: 218px;
}
.p3{
    width: 306px;
    height: 73px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #535353;
    margin: 32px 0 28px 12px;
}
.social-icons2{
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-right: 202.5px;
}
.box2{
    width: 136px;
    height: 223px;
    margin-right: 254px;
    display: flex;
    flex-direction: column;
}
.box2-title{
    font-size: 20px;
    color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    width: 136px;
    height: 24px;
    margin-bottom: 71px;
}
.li-item-1{
    width: 92px;
    height: 17px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.li-item-2{
    width: 92px;
    height: 48px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.li-item-3{
    width: 108px;
    height: 48px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.box3{
    width: 199px;
    height: 223px;
    margin-right: 147px;
    display: flex;
    flex-direction: column;
}
.box3-title{
    width: 85px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 108px 55px 6px;
    color: #1E1E1E;
}
.li-item2-1{
    width: 199px;
    height: 48px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.li-item2-2{
    width: 199px;
    height: 48px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.li-item2-3{
    width: 199px;
    height: 48px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.box4{
    width: 107px;
    height: 127.45px;
    display: flex;
    flex-direction: column;
}
.box4-title{
    width: 107px;
    height: 24px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 58.45px;
    color: #1E1E1E;
}
.box4-img{
    width: 80px;
    height: 45px;
}